*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
sub,
sup,
b,
u,
i,
ol,
ul,
li,
article,
aside,
footer,
header,
menu,
nav,
section,
hr,
span,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #000000;
}

.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    color: #ffffff;
}
