.logo {
    display: inline-block;
    text-decoration: none;
    width: 173px;
    height: 33px;
    background-image: url(./../../images/logo/logo_1280.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 27px;
}
