.button__icon_edit {
    display: block;
    background: url(./../../images/icon/edit-button.svg) no-repeat;
    width: 24px;
    height: 24px;
}

.button__icon_edit:hover {
    display: block;
    background: url(./../../images/icon/edit-button-hover.svg) no-repeat;
    width: 24px;
    height: 24px;
}
