.button__icon_add {
    background: url(./../../../images/icon/add-button.svg) no-repeat;
    width: 150px;
    height: 50px;
}

.button__icon_add:hover {
    background: url(./../../../images/icon/add-button-hover.svg) no-repeat;
    width: 150px;
    height: 50px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .button__icon_add {
        background: url(./../../../images/icon/add-button-320p.svg) no-repeat;
        width: 282px;
        height: 50px;
    }

    .button__icon_add:hover {
        background: url(./../../../images/icon/add-button-320p-hover.svg)
            no-repeat;
        width: 282px;
        height: 50px;
    }
}
